<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="asyncSrsLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="srsLogFile" xsi:type="File" fileName="logs/srs-client-${shortdate}.log"
                   layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}" />
    </target>
    <target name="asyncOverlordInfoLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="overlordInfoLogFile" xsi:type="File" fileName="logs/overlord-bot-INFO-${shortdate}.log"
                   layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}"/>
    </target>
    <target name="asyncOverlordDebugLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="overlordDebugLogFile" xsi:type="File" fileName="logs/overlord-bot-DEBUG-${shortdate}.log"
                   layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}"/>
    </target>
    <target name="asyncOverlordTraceLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="overlordLogTraceFile" xsi:type="File" fileName="logs/overlord-bot-TRACE-${shortdate}.log"
                   layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}"/>
    </target>
    <target name="logConsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncSrsLogFile" />
    <logger name="*" minlevel="Debug" writeTo="logConsole" />
    <logger name="Ciribob.DCS.SimpleRadio.Standalone.Client.Overlord.*" minlevel="Info" writeTo="asyncOverlordInfoLogFile" />
    <logger name="Ciribob.DCS.SimpleRadio.Standalone.Client.Overlord.*" minlevel="Debug" writeTo="asyncOverlordDebugLogFile" />
    <logger name="Ciribob.DCS.SimpleRadio.Standalone.Client.Overlord.*" minlevel="Trace" writeTo="asyncOverlordTraceLogFile" />
  </rules>
</nlog>