<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="asyncMainLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="mainLogFile" xsi:type="File" fileName="logs/overlordbot-${shortdate}.log"
                   layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}" />
    </target>
    <target name="asyncWarningCheckFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="WarningCheckFile" xsi:type="File" fileName="logs/overlordbot-warningcheck-${shortdate}.log"
              layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}" />
    </target>
    <target name="asyncAtcCheckFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="AtcCheckFile" xsi:type="File" fileName="logs/overlordbot-atc-${shortdate}.log"
              layout="${longdate} ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=3}" />
    </target>
    <target name="logConsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logConsole" />
    <logger name="*" minlevel="Debug" writeTo="asyncMainLogFile" />
    <logger name="RurouniJones.DCS.OverlordBot.Controllers.WarningRadiusChecker" minlevel="Trace" writeTo="asyncWarningCheckFile" />
    <logger name="RurouniJones.DCS.OverlordBot.Controllers.TaxiProgressChecker" minlevel="Trace" writeTo="asyncAtcCheckFile" />
    <logger name="RurouniJones.DCS.OverlordBot.Controllers.ApproachChecker" minlevel="Trace" writeTo="asyncAtcCheckFile" />
  </rules>
</nlog>