<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="srsLogFile" xsi:type="File" fileName="client.log" />
    <target name="overlordLogFile" xsi:type="File" fileName="overlord.log" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="srsLogFile" />
    <logger name="*" minlevel="Debug" writeTo="srsLogFile" />
    <logger name="Ciribob.DCS.SimpleRadio.Standalone.Client.Overlord.*" minlevel="Debug" writeTo="overlordLogFile" />
    <logger name="Ciribob.DCS.SimpleRadio.Standalone.Client.Overlord.*" minlevel="Debug" writeTo="logConsole" />
  </rules>
</nlog>